.footer {
    grid-area: footer;
    height: 60px;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 10px;

    p:nth-child(1) {
        margin-left: 20px;
        color: #ccc;
        font-size: 14px;
    }

    img {
        width: 60%;
        height: 60%;
        object-fit: cover;
    }
}
