.menu-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #616161;
    line-height: 15px;
    cursor: pointer;
    position: relative;

    &:hover,
    &.active {
        color: #fff;
        background: #e03572;
        border-radius: 8px;
        transition: all 0.3s ease-in-out;
    }
}

.title {
    margin-top: 2px;
}

.icon > svg,
.icon-img > img {
    width: 23px;
    height: 23px;
}
