.menu-item {
    width: 72px;
    height: 72px;
    margin: 0 auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #404040;
    background: #fff;
    border-radius: 16px;
    line-height: 15px;
    border: 1px solid var(--primary-color);
    transition: all 0.3s linear;

    &.active {
        color: white;
        background: var(--primary-color);
    }

    &:hover {
        cursor: pointer;
        color: white;
        background: var(--primary-color);
    }
}

.title {
    font-size: 13px;
    font-weight: 600;
    margin-top: 4px;
}

.icon {
    font-size: 18px;
}

.icon-img > img {
    width: 18px;
    height: 18px;
}
