.content {
    grid-area: content;
    width: calc(100vw - 270px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 20px;
}

.title {
    display: flex;
    gap: 20px;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 20px;

    svg {
        color: #e03572;
    }
    p {
        font-weight: bold;
    }
}

.list-overview {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    > div {
        flex: 1;
        padding: 10px;
        border-radius: 4px;
        display: flex;
        > div:first-child {
            width: 90%;
        }

        > div:last-child {
            width: 10%;
        }

        .overview-name {
            font-weight: bold;
        }
        .overview-price {
            font-size: 25px;
            margin: 10px 0;
            font-weight: bold;
        }
        .overview-description {
            font-size: 13px;
            color: #807e7e;

            svg {
                margin-right: 5px;
            }
            span {
                color: forestgreen;
                font-weight: bold;
            }
        }

        .overview-left {
            width: 10px;
            height: 35px;
            border: 1px solid #e03572;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            svg {
                padding: 8px;
                color: #e03572;
            }
        }
    }

    > div:first-child {
        background-color: #fdedf2;
    }

    > div:not(:first-child) {
        background-color: #eff6ff;

        .overview-left {
            width: 35px;
            height: 35px;
            border: 1px solid rgb(93 188 255);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            svg {
                padding: 8px;
                color: rgb(93 188 255);
            }
        }
    }
}

.img-avatar {
    width: 40px;
    height: 40px;
    border-radius: 100rem;
    border: 1px solid #ccc;
}

.box-user {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
        font-weight: bold;
    }
}

.box-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

tr > th,
tr > td {
    border: none;
}

tr {
    border: none;
}

table {
    border: 1px solid #ccc;
}

th:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40.4px;
}

table tr:nth-child(even) {
    background-color: white;
}

th span {
    color: #626262;
    font-size: 15px;
}

.date {
    color: #ccc;
}

.status-new {
    background-color: #f3f2f2;
    color: rgb(93 188 255);
    padding: 2px 8px;
    border-radius: 25px;
}

.status-in-progress {
    background-color: #f8f6d8;
    color: rgb(159, 161, 43);
    padding: 2px 8px;
    border-radius: 25px;
}

.status-completed {
    background-color: #ccf7de;
    color: rgb(66, 139, 91);
    padding: 2px 8px;
    border-radius: 25px;
}
